html {
  padding: 0;
}

body {
  margin: 0;
}

#gameArea {

}

canvas {
  background-color: lightgray;
  height: 50vw;
  display: block;
}

#gameInformation {
  height: 6.25vw;
  background-color: darkgray;
}
